<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.tome_aos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
            android:name="application.ApplicationClass"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_logo"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:supportsRtl="true"
            android:theme="@style/Theme.ToMeAOS"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <service
                android:name="util.MusicService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity
                android:name="presentation.login.LoginActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="presentation.login.LoginWebviewActivity"
                android:exported="true"/>
        <activity
                android:name="presentation.landing.LandingActiviy"
                android:exported="true">
        </activity>
        <activity
                android:name="presentation.MainActivity"
                android:exported="true"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="presentation.chat.ChatActivity"
                android:exported="true">
        </activity>
        <activity
                android:name="presentation.splash.SplashActivity"
                android:exported="false"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.tome_aos.file-provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>